$pd-color-white: #ffffff;
$pd-color-light-gray: #f9f9f9;
$pd-color-gray: #cccccc;
$pd-color-dark-gray: #777777;
$pd-color-darker-gray: #444444;
$pd-color-black: #222222;

$pd-color-orange: #f5a623;

// color theme
$primary-color: #0a2862;
$secondary-color: #011c27;
